<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Nncase.Libs" value="https://www.myget.org/F/magicallibs/api/v3/index.json" protocolVersion="3"/>
    <add key="Nncase.Native" value="https://www.myget.org/F/zhen8838/api/v3/index.json" protocolVersion="3"/>
  </packageSources>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Nncase.Libs" value="https://www.myget.org/F/magicallibs/api/v3/index.json" protocolVersion="3"/>
    <add key="Nncase.Native" value="https://www.myget.org/F/zhen8838/api/v3/index.json" protocolVersion="3"/>
  </activePackageSource>
</configuration>