<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- <add key="OrtKISharp" value="/home/homura/Code/OrtKI/CSharp/OrtKISharp/bin/Debug" /> -->
    <!-- <add key="libortki-linux" value="/home/homura/Code/OrtKI/CSharp/libortki" /> -->
    <add key="Nncase.Libs" value="https://www.myget.org/F/magicallibs/api/v3/index.json" protocolVersion="3"/>
  </packageSources>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- <add key="OrtKISharp" value="/home/homura/Code/OrtKI/CSharp/OrtKISharp/bin/Debug" /> -->
    <!-- <add key="libortki-linux" value="/home/homura/Code/OrtKI/CSharp/libortki" /> -->
    <add key="Nncase.Libs" value="https://www.myget.org/F/magicallibs/api/v3/index.json" protocolVersion="3"/>
  </activePackageSource>
</configuration>