[project]
name = "nncase"
dynamic = ["version"]
requires-python = ">=3.7"
authors = [{ name = "sunnycase" }, { email = "sunnycase@live.cn" }]
maintainers = [{ name = "sunnycase" }, { email = "sunnycase@live.cn" }]
readme = "README.md"
description = "A neural network compiler for AI accelerators"
license = { file = "LICENSE" }
classifiers = [
    "Programming Language :: C++",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
]
keywords = ["kendryte", "nn", "compiler", "k210", "k510", "k230"]
dependencies = ["numpy"]

[project.urls]
homepage = "https://github.com/kendryte/nncase"

[build-system]
requires = ["setuptools>=42", "wheel", "conan==1.64", "ninja", "gitpython"]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
build = ["cp37*", "cp38*", "cp39*", "cp310*"]
skip = "*musllinux*"
manylinux-x86_64-image = "sunnycase/manylinux2014_x86_64:1.1"
test-requires = "pytest"
test-command = [
  "pytest {project}/tests/other"
]

[tool.cibuildwheel.environment]
PYTHONPATH = "{project}/tests:$PYTHONPATH"

[tool.cibuildwheel.windows]
archs = ["AMD64"]

[tool.cibuildwheel.linux]
archs = ["x86_64"]
before-all = [
  "pip install conan==1.64",
  "conan profile new default --detect",
  "conan profile update settings.compiler.libcxx=libstdc++11 default",
  "curl -L https://sdk.lunarg.com/sdk/download/1.3.268.0/linux/vulkansdk-linux-x86_64-1.3.268.0.tar.xz --output vulkansdk.tar.xz",
  "tar xf vulkansdk.tar.xz",
  "cp -P 1.3.268.0/x86_64/lib/libvulkan.so* /usr/local/lib/"
]
before-build = "pip install auditwheel"
repair-wheel-command = "LD_LIBRARY_PATH=/usr/lib64 auditwheel repair -w {dest_dir} {wheel} --exclude libvulkan.so.1,libgomp.so.1"

[tool.cibuildwheel.macos]
archs = ["x86_64"]

[tool.cibuildwheel.macos.environment]
MACOSX_DEPLOYMENT_TARGET = "10.15"
