@page "/"

<Card>
    <Alert Message="请打开工作区"
           Type="@AlertType.Info"
           ShowIcon="true"
           Banner
           Style="margin: -12px; margin-bottom: 24px" />
    <Button OnClick="OpenWorkspace">打开工作区</Button>
</Card>

@code {
}
