[conf]
tools.cmake.cmaketoolchain:user_toolchain+={{ os.path.join(profile_dir, "riscv64-unknown-linux.toolchain.cmake") }}
tools.cmake.cmaketoolchain:generator=Ninja

[settings]
os=Linux
arch=riscv64
build_type=Release
compiler=gcc
compiler.cppstd=17
compiler.libcxx=libstdc++17
compiler.version=12
