name: compiler-python-release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: ${{matrix.config.name}}
    runs-on: ${{matrix.config.os}}
    strategy:
      matrix:
        config:
          - {name: x86_64-macos, os: macos-11}
          - {name: x86_64-linux, os: ubuntu-20.04}
          - {name: x86_64-windows, os: windows-latest, arch: x64}

    steps:
    - uses: actions/checkout@v3
    - uses: seanmiddleditch/gha-setup-ninja@master

    - name: Set up build environment (Windows, Visual Studio)
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{matrix.config.arch}}
      if: runner.os == 'Windows'
      
    - name: Set up build environment (Macos)
      run: |
        brew install sunnycase/core/libomp@14.0.6
      if: runner.os == 'Macos'

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.7

    - name: Install cibuildwheel
      run: pip install cibuildwheel

    - name: Build wheel
      run: python -m cibuildwheel --output-dir wheelhouse

    - name: Upload nncase-python Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: nncase-python-${{matrix.config.name}}
        path: ${{github.workspace}}/wheelhouse
        if-no-files-found: error
