on:
  push:
    tags:
      - '*'

jobs:
  test:
    name: test-notebook-${{matrix.config.name}}
    runs-on: ${{matrix.config.os}}
    strategy:
      matrix:
        config:
          - {name: x86_64-macos, os: macos-10,}
          - {name: x86_64-linux, os: ubuntu-latest}
          # - {name: x86_64-windows, os: windows-2019}

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: pip install --upgrade pip && pip install jupyterlab pytest nbmake

    - name: Run tests
      run: pytest --nbmake examples/user_guide
      env:
        PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION: python